
.body {
    font-family: Arial, Helvetica, sans-serif;
    /* animated shifting background with color gradient */
    background: linear-gradient(-30deg, rgb(210 210 246), rgb(133, 133, 221));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 40px; /* same as the navigation bar height*/
}

.navigation_bar_container {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(8px);
    position: fixed;

    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    top: 0;
    height: 40px;
    width: 100%; */
}

.navigation_bar {
    display: flex;
    list-style-type: none;
    margin: 0 5rem;
    justify-content: space-between;
    gap: 2rem;
}

.name_nav_bar {
    margin: 5rem;
}

.nav_button {
    background-color: grey;
    border-radius: .4rem;
    height: 2rem;
    align-content: top;
    justify-content: right;

}

.title {
    text-align: center;
    margin-top: 60px;
}


.container {
    margin:100px 0px 0px 100px;
    width: 80%;
    height: 50vh;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
}

/* .container img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
} */
/* 
.container img:hover {
    width: 100%;
} */

.image_box {   
    width: 50%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}

 .image_box:hover {
    width: 100%;
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}