:root {
  --color-accent-400: rgb(8, 11, 77);
  --color-accent-100: rgb(255, 255, 255);

  --color-background-300: rgb(104, 104, 229);
  --color-background-100: rgb(191, 191, 219);

  --font-family-primary: "Lexend Exa", sans-serif;

  /* this is just so I can change the font easily */
  --font-family-body: var(--font-family-primary);
  --font-family-heading: var(--font-family-primary);

  --font-weight-regular: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  --font-size-300: 0.875rem;
  --font-size-400: 1rem;
  --font-size-500: 1.2;
  --font-size-600: 1.8rem;
  --font-size-700: 2.5rem;

  --font-size-body: var(--font-size-300);
  --font-size-nav: var(--font-size-400);

  --nav-bar-height: 4rem;
}

@media (min-width: 900px) {
  :root {
    --font-size-body: var(--font-size-400);
    --font-size-nav: var(--font-size-500);
  }
}

/* remove default margin */
/* font: inherit resets all fonts (so h2,h3 have to be manuall set) */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  /* animated shifting background with color gradient */
  background: linear-gradient(
    -30deg,
    var(--color-background-100),
    var(--color-background-300)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden; /* there was a weird vertical scroll */
}

header {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-nav);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-bar-height);
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 0 0 1.5rem 0 black;
  z-index: 10;
}

/* the asterisk '*' means all elemenents inside header */
header * {
  color: white;
  display: inline-flex;
  padding: 0;
  align-items: center;
}

header li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

header a {
  /* all anchors in header without underline */
  text-decoration: none;
}

nav {
  float: right;
  height: var(--nav-bar-height);
}

.name_in_head {
  margin-left: 1.5rem;
}

main {
  height: 100vh;
  color: white;
  display: flex;
  position: fixed;
}

.content {
  width: calc(100dvw - 400px);
  height: 100vh;
  height: 100dvh;
  margin: 2rem;
  margin-top: calc(var(--nav-bar-height) + 2rem);
  align-content: center;
}

/* carousel box */
.carousel_container {
  margin: 0;
  margin-left: 8rem;
  padding: 0px;
  width: 400px;
  height: 100vh;
  height: 100dvh;
}

ul.carousel {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* display: block; */
  /* gap: 1.5rem; */
  overflow-y: auto;
  /* overflow-y: hidden; */
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  scrollbar-width: none; /* remove scrollbar for Firefox */
}

/* remove scrollbar for Chrome */
ul.carousel::-webkit-scrollbar {
  display: none;
}

ul.carousel li {
  list-style-type: none;
}

.carousel_page {
  /* scroll-snap-align: start; */
  width: 400px;
  height: 400px;
  list-style-type: none;
  /* border: 0px solid #000000; */
  flex: 0 0 auto;
}

/* This should go after .carousel_page because it's modifying it */
.first_page {
  height: 200px;
  align-content: end;
  text-align: center;
}

.intro_projects {
  margin: 2rem;
}

ul.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_page {
  margin: 2rem;
  margin-top: calc(var(--nav-bar-height) + 2rem);
}

.two_columns {
  display: flex;
}

.picture_column img {
  width: 300px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* to reduce the animations */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

/* custom classe so I can assign properties easily */
.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}
