/* remove default margin */
/* font: inherit resets all fonts (so h2,h3 have to be manuall set) */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  /* animated shifting background with color gradient */
  background: linear-gradient(-30deg, rgb(132, 132, 232), rgb(131, 131, 232));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden; /* there was a weird vertical scroll */
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 0 0 1.5rem 0 black;
  z-index: 10;
}

/* the asterisk '*' means all elemenents inside header */
header * {
  color: white;
  display: inline-flex;
  padding: 0;
  align-items: center;
}

header li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

header a {
  /* all anchors in header without underline */
  text-decoration: none;
}

nav {
  float: right;
  height: 4rem;
}

.name_in_nav {
  margin-left: 1.5rem;
}

main {
  height: 100vh;
  color: white;
  display: flex;
  position: fixed;
}

.content {
  width: calc(100dvw - 400px);
  height: 100vh;
  height: 100dvh;
  margin: 2rem;
}

/* carousel box */
.carousel_container {
  margin: 0;
  margin-left: 5rem;
  padding: 0px;
  width: 400px;
  height: 100vh;
  height: 100dvh;
}

ul.carousel {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* display: block; */
  /* gap: 1.5rem; */
  overflow-y: auto;
  /* overflow-y: hidden; */
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  scrollbar-width: none; /* remove scrollbar for Firefox */
}

/* remove scrollbar for Chrome */
ul.carousel::-webkit-scrollbar {
  display: none;
}

ul.carousel li {
  list-style-type: none;
}

.carousel_page {
  /* scroll-snap-align: start; */
  width: 400px;
  height: 400px;
  list-style-type: none;
  /* border: 0px solid #000000; */
  flex: 0 0 auto;
}

/* This should go after .carousel_page because it's modifying it */
.first_page {
  height: 200px;
  align-content: end;
  text-align: center;
}

ul.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
